// Estilização específica do formulário de cadastro

.form-box-cadastro{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*corrigindo a caixa do preenchimento automático*/
.inputbox input:-webkit-autofill,
.inputbox input:-webkit-autofill:hover,
.inputbox input:-webkit-autofill:focus,
.inputbox input:-webkit-autofill:active {
    border: none;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; 
    color: #fff; /* Garante que o texto fique branco */
}