# Ignorar a pasta vendor
/vendor/

# Ignorar arquivos do Composer
composer.json
composer.lock

# Ignorar o arquivo de chave de serviço do Firebase
serviceAccountKey.json

# Ignorar o arquivo de chave de serviço do Firebase
serviceAccountKey.json
