* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #D7D7D7;
    max-height: 60px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Espaça os menus */
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Adiciona espaço nas laterais da navbar */
    max-height: 60px;
}

.menu-left,
.menu-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaçamento entre os ícones */
}

.menu-left {
    margin-left: 20px; /* Garante que o ícone do menu esquerdo (hamburguer) não fique na borda */
}

.menu-right {
    margin-right: 20px; /* Garante que o ícone do menu direito (notificação) não fique na borda */
}

.menu-left img {
    height: 40px;
}

.menu-left i {
    font-size: 38px;
    cursor: pointer;
}

.menu-right i {
    font-size: 24px; /* Tamanho dos ícones */
    cursor: pointer;
}

.menu-right i:hover {
    color: #007bff; /* Cor ao passar o mouse sobre os ícones */
}

/*div que está abaixo da nav-bar*/
.content {
    display: flex;
    height: 100vh; /* Garante altura total da tela */
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    width: 100px; /* Largura fixa */
    background-color: #1D376C;
    color: white;
    height: 100%; /* Estica para altura total */
}

.sidebar .menu {
    display: flex;
    align-items: center; /* Alinha o ícone e o texto verticalmente no centro */
    height: 80px; /* Define a altura dos itens do menu */
    border-bottom: 2px solid #fff; /* Adiciona uma borda inferior */
    text-transform: uppercase;
    justify-content: center;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar i {
    font-size: 38px;
}

.sidebar h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.sidebar :hover {
    background-color: #F59323;
    cursor: pointer;
}

/*conteúdo da página*/
.main-content {
    padding: 20px;
    background-color: #ffffff;
    width: 100%;
    flex: 1;
}

.titulo {
    width: 100%;
    background-color: #D9D9D9;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EB1414;
    border-radius: 15px;
}

.titulo i {
    font-size: 38px;
    margin-right: 10px;
}

.titulo h4 {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
}

.conteudo01 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: #d7d7d7;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    height: auto;
}

.conteudo01 h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
    text-transform: uppercase;
}

.tabela {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden; /* Garante que o border-radius seja visível */
}

.title, .linha {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o texto ao topo */
    align-items: center;
    width: 100%; /* Define a largura das colunas */
}

.title {
    background-color: #FDC180;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.title p {
    margin: 0;
}

.linha {
    background-color: #e0d4c7;
    padding: 10px;
    text-align: center;
}

.linha p {
    margin: 5px 0;
    text-transform: uppercase;
}

.linha button {
    margin: 5px 0;
    background-color: #F59323;
    border: none;
    cursor: pointer;
    color: white;
    height: 35px;
    width: 100%; /* Botões ocupam toda a largura da linha */
    border-radius: 10px;
    font-size: 16px;
}

.linha button:hover {
    background-color: #c68700;
}

.divisao {
    border-right: #fff 2px solid;
    border-left: #fff 2px solid;
}

/* Responsividade */
@media (max-width: 768px) {
    .tabela {
        flex-direction: column; /* Empilha os itens quando a tela for pequena */
    }

    .title, .linha {
        width: 100%; /* As colunas vão ocupar 100% da largura */
    }

    .linha button {
        width: 100%; /* Botões ocupam toda a largura disponível */
    }
}